/* GLOBAL CSS*/
h1{
    text-align: center;
    font-size: 50px;
    color: #00203fff;
}
body{
    background-color: #00203fff;
}
button{
    background-color: #adefd1ff;
    border: none;
    color: #00203fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-size: 25px;
}
/* END GLOBAL */

/* CLASS CSS */
.button-container{
    text-align: center;
    margin-top: 50px;
}

.outer-container{
    background-color: #adefd1ff;
    height: 450px;
    width: 450px;
    margin: auto;
    border-radius: 15%;
}

.container{
    width: 320px;
    height: 320px;
    margin: auto;
    margin-top: 100px;
}

.border-b{
    border-bottom: 10px solid #00203fff;
}

.border-r{
    border-right: 10px solid #00203fff;
}

.col{
    height: 100px;
    width: 100px;
    float: left;
    font-size: 100px;
    text-align: center;
    line-height: 100px;
}
.col:hover{
    background-color: gainsboro;
    opacity: 0.8;
}

.row{
    height: 100px;
}

.winner{
    color: goldenrod;
}
/* END CLASS */

/* ID CSS */

/* END ID CSS */